/* ========= FOOTER GENERAL ========= */

.footer {
  color: var(--text-on-dark-color);
  font-size: 16px;
}

/* ========= GRID (для TOP і MIDDLE) ========= */

.footer__grid {
  display: grid;
  gap: 32px;
  text-align: center;
}

@media (min-width: 770px) {
  .footer__grid {
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    align-items: start;
  }
}

/* ========= TOP ========= */

.footer__top {
  background: var(--dark-background-color);
  padding: 48px 0;
}

.footer__logo {
  width: 180px;
  min-width: 130px;
  margin: 0 auto 12px auto;
}

.footer__text {
  color: var(--text-on-dark-color);
  line-height: 1.5;
}

/* CONTACT BLOCK */

.footer__contact-title {
  color: var(--title-on-dark-color);
  margin-bottom: 12px;
  line-height: 1.4;
}

.footer__divider {
  height: 1px;
  width: 70%;
  background: var(--subscruption-form-input-space-color);
  margin: 0 auto 12px auto;
}

.footer__contact-link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 600;
}

.footer__contact-link:hover {
  text-decoration: underline;
}

/* SUBSCRIBE */

.footer__col--subscribe {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__input {
  width: 100%;
  padding: 14px 16px;
  border: none;
  border-radius: 4px;
  background: var(--subscruption-form-input-space-color);
  color: var(--title-on-dark-color);
}

.footer__button {
  padding: 14px 16px;
  background: var(--accent-button-color);
  color: var(--title-on-dark-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.footer__button:hover {
  background: var(--light-background-color);
  color: var(--big-title-color);
}

/* ========= MIDDLE (MENU BLOCK) ========= */

.footer__middle {
  background: var(--dark-background-color);
  padding: 48px 0;
}

.footer__menu-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__menu-title {
  color: var(--title-on-dark-color);
  font-weight: 700;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu-link {
  text-decoration: none;
  color: var(--text-on-dark-color);
  transition: 0.3s;
}

.footer__menu-link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* ========= BOTTOM ========= */

.footer__bottom {
  background: var(--footer-dark-background-color);
  padding: 20px 0;
}

.footer__bottom-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  color: var(--subtitle-on-dark-color);
}

@media (min-width: 770px) {
  .footer__bottom-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .footer__logo {
    margin: 0px 0px 12px 0px;
  }

  .footer__divider {
    margin-left: 0px;
    margin-bottom: 12px;
    width: 100px;
  }

  .footer__col--contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
}
