/* ===== CONTACTS SECTION ===== */
.contacts {
  padding: 40px 0;
  background-color: var(--light-background-color);
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: stretch;
}

/* ===== LEFT BLOCK ===== */

.contacts__title-small {
  font-size: 12px;
  color: var(--accent-color);
  font-weight: 500;
}

.contacts__title {
  font-size: 32px;
  color: var(--big-title-color);
  margin: 12px 0;
}

.contacts__subtitle {
  color: var(--text-color);
  margin-bottom: 32px;
  line-height: 1.5;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.contacts__info-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contacts__info-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--big-title-color);
}

.contacts__info-text {
  color: var(--text-color);
  line-height: 1.5;
}

/* MAP */
.contacts__map {
  width: 100%;
  height: 280px;
}

.contacts__map-frame {
  width: 100%;
  height: 100%;
}

/* ===== RIGHT BLOCK ===== */
.contacts__right {
  background-color: var(--tertiary-background-color);
  padding: 40px 80px 0;
  border-radius: 8px;
  display: flex;               /* Робимо flex-контейнер */
  flex-direction: column;      /* У колонку */
  justify-content: space-between; /* Рівномірний розподіл */
}

.contacts__request-title {
  font-size: 22px;
  color: var(--big-title-color);
}

.contacts__request-subtitle {
  color: var(--text-color);
  line-height: 1.5;
  margin: 24px 0;
}

/* FORM */
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contacts__form-input,
.contacts__form-textarea {
  width: 100%;
  padding: 14px 16px;
  border-radius: 6px;
  border: 1px solid var(--contact-form-input-space-color);
  background-color: var(--light-background-color);
  font-size: 15px;
  color: var(--big-title-color);
}

.contacts__form-textarea {
  min-height: 150px;
  resize: none;
}

.contacts__form-btn {
  padding: 14px;
  background-color: var(--accent-button-color);
  color: var(--big-title-color);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 30px 0;
}

/* ====== DESKTOP ====== */
@media (min-width: 770px) {
  .contacts__container {
    flex-direction: row;
    align-items: stretch; /* важливо */
    gap: 60px;
  }

  .contacts__left,
  .contacts__right {
    width: 50%;
  }

  .contacts__info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    row-gap: 24px;
  }

  .contacts__info-row {
    flex-direction: row;
    gap: 20px;
  }

  .contacts__info-title {
    min-width: 110px;
  }
}

/* ====== VERY LARGE (>=1200px) ====== */
@media (min-width: 1200px) {
  .contacts {
    padding: 80px 0;
  }

  .contacts__right {
    padding: 40px;
  }

  .contacts__map {
    height: 320px;
  }
}
