<footer class="footer">
  <!-- TOP -->
  <div class="footer__top">
    <div class="container footer__grid">

      <!-- 1. Logo -->
      <div class="footer__col footer__col--info">
        <img class="footer__logo" src="img/global/sound-logo.svg" alt="Sound Logo" />
        <p class="footer__text">
          We are your ultimate stop if you're looking for any musical instruments,
          equipment, or supplies. Shipping worldwide!
        </p>
      </div>

      <!-- 2. Phone -->
      <div class="footer__col footer__col--contact">
        <p class="footer__contact-title">Have a question?<br />Call us any time!</p>
        <div class="footer__divider"></div>
        <a href="tel:+12345678900" class="footer__contact-link">
          +1 (234) 567 89 00
        </a>
      </div>

      <!-- 3. Email -->
      <div class="footer__col footer__col--contact">
        <p class="footer__contact-title">Write to us!<br />We're here for you 24/7!</p>
        <div class="footer__divider"></div>
        <a href="mailto:sound@email.com" class="footer__contact-link">
          sound@email.com
        </a>
      </div>

      <!-- 4. Subscription -->
      <div class="footer__col footer__col--subscribe">
        <input class="footer__input" type="email" placeholder="Email" />
        <button class="footer__button">Sign Up to Our Newsletter</button>
      </div>

    </div>
  </div>

  <!-- MIDDLE (MENU BLOCK) -->
  <div class="footer__middle">
    <div class="container footer__grid">

      <div class="footer__menu-col">
        <h4 class="footer__menu-title">Quick Links<span class="footer__dot dot">.</span></h4>
        <ul class="footer__menu-list">
          <li><a href="#" class="footer__menu-link">About Us</a></li>
          <li><a href="#" class="footer__menu-link">Affilate</a></li>
          <li><a href="#" class="footer__menu-link">Career</a></li>
          <li><a href="#" class="footer__menu-link">Contacts</a></li>
        </ul>
      </div>

      <div class="footer__menu-col">
        <h4 class="footer__menu-title">Company<span class="footer__dot dot">.</span></h4>
        <ul class="footer__menu-list">
          <li><a href="#" class="footer__menu-link">Order Tracking</a></li>
          <li><a href="#" class="footer__menu-link">Customer Service</a></li>
          <li><a href="#" class="footer__menu-link">Returns</a></li>
          <li><a href="#" class="footer__menu-link">Product Support</a></li>
        </ul>
      </div>

      <div class="footer__menu-col">
        <h4 class="footer__menu-title">Shop<span class="footer__dot dot">.</span></h4>
        <ul class="footer__menu-list">
          <li><a href="#" class="footer__menu-link">New Arrivals</a></li>
          <li><a href="#" class="footer__menu-link">Instruments</a></li>
          <li><a href="#" class="footer__menu-link">Bestsellers</a></li>
          <li><a href="#" class="footer__menu-link">Sale</a></li>
        </ul>
      </div>

      <div class="footer__menu-col">
        <h4 class="footer__menu-title">Customer Care<span class="footer__dot dot">.</span></h4>
        <ul class="footer__menu-list">
          <li><a href="#" class="footer__menu-link">Policy</a></li>
          <li><a href="#" class="footer__menu-link">Terms & Conditions</a></li>
          <li><a href="#" class="footer__menu-link">Shipping</a></li>
          <li><a href="#" class="footer__menu-link">FAQ</a></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- BOTTOM -->
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <p class="footer__bottom-text">© Created by</p>
      <p class="footer__bottom-text">All rights Reserved</p>
    </div>
  </div>
</footer>
