<!-- ============================= -->
<!-- Promo Offers -->
<!-- ============================= -->
<section class="promo-offers">
  <div class="promo-offers__container container">
    <div class="promo-offers__grid">

      <!-- Card 1 -->
      <article class="promo-offers__card promo-offers__card--light promo-offers__image--light">
        <div class="promo-offers__content">
          <h2 class="promo-offers__label">SPECIAL OFFER</h2>

          <p class="promo-offers__title">
            Red Wings<br />
            Drum Set<span class="promo-offers__dot">.</span>
          </p>

          <p class="promo-offers__price">
            just <span class="promo-offers__price-highlight">$1,299</span>
          </p>

          <a href="#shop" class="promo-offers__btn">Buy Now</a>
        </div>
      </article>

      <!-- Card 2 -->
      <article class="promo-offers__card promo-offers__card--dark promo-offers__image--dark">
        <div class="promo-offers__content">
          <h2 class="promo-offers__label promo-offers__label--light">PROMOTION</h2>

          <p class="promo-offers__title promo-offers__title--light">
            Exclusive<br />
            Guitars<span class="promo-offers__dot">.</span>
          </p>

          <p class="promo-offers__price--dark">
            just <span class="promo-offers__price-highlight">$1,299</span> <!--Hidden in css! - Added for future and same stucture with light card.-->
          </p>

          <a href="#shop" class="promo-offers__btn promo-offers__btn--light">Buy Now</a>
        </div>
      </article>

    </div>
  </div>
</section>
