<!-- ============================= -->
<!-- Index — contacts (partial) -->
<!-- ============================= -->
<section class="contacts" id="contacts">
  <div class="contacts__container container">
    <div class="contacts__left">
      <p class="contacts__title-small">CONTACT US</p>
      <h2 class="contacts__title">Contacts</h2>
      <p class="contacts__subtitle">
        Feel free to contact us for any business, media, or personal inquiries:
      </p>

      <div class="contacts__info">
        <div class="contacts__info-row">
          <h3 class="contacts__info-title">Address</h3>
          <p class="contacts__info-text">
            3611 Silas Trail Suite 927 <br />
            Port Yasmeenland, PY 20061
          </p>
        </div>

        <div class="contacts__info-row">
          <h3 class="contacts__info-title">Hours</h3>
          <p class="contacts__info-text">
            Monday – Saturday: 11 AM – 9 PM <br />
            Sunday: 11 AM – 7 PM
          </p>
        </div>

        <div class="contacts__info-row">
          <h3 class="contacts__info-title">Contacts</h3>
          <p class="contacts__info-text">
            +1 (234) 567 89 00 <br />
            mywebsite@email.com
          </p>
        </div>
      </div>

      <div class="contacts__map">
        <iframe
          class="contacts__map-frame"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6044.338495908875!2d-73.9936727064209!3d40.75830210000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855e5382207%3A0x524c268b966897d7!2sJon%20Baltimore%20Music%20Company%2C%20Inc.!5e0!3m2!1suk!2spl!4v1764422779223!5m2!1suk!2spl"
          style="border: 0"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <div class="contacts__right">
      <h3 class="contacts__request-title">Send a Request</h3>
      <p class="contacts__request-subtitle">
        If you want to visit our offline store or the musical-house, leave us a
        message.
      </p>

      <form class="contacts__form">
        <input
          class="contacts__form-input"
          type="text"
          placeholder="Enter your full name*"
          required
        />
        <input
          class="contacts__form-input"
          type="tel"
          placeholder="Enter your phone number*"
          required
        />
        <input
          class="contacts__form-input"
          type="email"
          placeholder="Enter your e-mail*"
          required
        />
        <textarea
          class="contacts__form-textarea"
          placeholder="Type your message"
          required
        ></textarea>

        <button class="contacts__form-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
