<!-- ============================= -->
<!-- Index — Partners (partial) -->
<!-- ============================= -->
<section class="partners" aria-label="Partners">
  <div class="partners__container container">
    <!-- Carousel wrapper -->
    <div class="partners__carousel">
      <!-- Left arrow -->
      <button
        class="carousel-arrow carousel-arrow--prev"
        aria-label="Previous partners"
      >
        <svg
          class="carousel-arrow__svg"
          viewBox="0 0 30 30"
          width="30"
          height="30"
          transform = "rotateY"
        >
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1762442037399"
            ></path>
          </defs>
          <use
            fill-rule="nonzero"
            opacity=".8"
            xlink:href="#a-1762442037399"
          ></use>
        </svg>
      </button>

      <!-- Logos list -->
      <ul class="partners__list">
        <li class="partners__item">
          <img
            src="img/index/partners/parker-guitars-logo.svg"
            alt="Parker Guitars"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/music-country-logo.svg"
            alt="Music Country"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/d-aquisto-logo.svg"
            alt="D'Aquisto"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/dmx-music-logo.svg"
            alt="DMX Music"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/sony-music-logo.svg"
            alt="Sony Music"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/guitar-center-logo.svg"
            alt="Guitar Center"
            class="partners__logo"
          />
        </li>
        <li class="partners__item">
          <img
            src="img/index/partners/v2-logo.svg"
            alt="V2"
            class="partners__logo"
          />
        </li>
      </ul>

      <!-- Right arrow -->
      <button
        class="carousel-arrow carousel-arrow--next"
        aria-label="Next partners"
      >
        <svg
          class="carousel-arrow__svg"
          viewBox="0 0 30 30"
          width="30"
          height="30"
        >
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1762442037399"
            ></path>
          </defs>
          <use
            fill-rule="nonzero"
            opacity=".8"
            xlink:href="#a-1762442037399"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<style>.partners__arrow--prev { transform: rotate(180deg); }</style>