<!-- ============================= -->
<!-- Index — New Arrivals (partial) -->
<!-- ============================= -->
<section class="new-arrivals section" aria-label="New Arrivals">
  <div class="new-arrivals__container container">
    <!-- Заголовки -->
    <header class="new-arrivals__header">
      <h2 class="new-arrivals__title">RECENTLY ADDED</h2>
      <p class="new-arrivals__label">
        New Arrivals<span class="new-arrivals__dot dot">.</span>
      </p>
      <span class="new-arrivals__divider" aria-hidden="true"></span>
      <p class="new-arrivals__subtitle">
        Everything you may need for great sound!
      </p>
    </header>

    <!-- Карусель товарів -->
    <div class="new-arrivals__carousel">
      <!-- Left arrow -->
      <button
        class="carousel-arrow carousel-arrow--prev"
        aria-label="Previous new-arrivals"
      >
        <svg
          class="carousel-arrow__svg"
          viewBox="0 0 30 30"
          width="30"
          height="30"
          transform = "rotateY"
        >
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1762442037399"
            ></path>
          </defs>
          <use
            fill-rule="nonzero"
            opacity=".8"
            xlink:href="#a-1762442037399"
          ></use>
        </svg>
      </button>

      <div class="new-arrivals__track-wrapper">
        <ul class="new-arrivals__track">
          <!-- product card 1 -->
          <li class="new-arrivals__item">
            <article class="product-card">
              <img
                src="img/index/new-arrivals/raven-bee-rb500-exotic-style-electric-guitar.jpeg"
                alt="Raven Bee RB500 El Guitar"
                class="product-card__image"
              />
              <h3 class="product-card__name">Raven Bee RB500 Exotic Style Guitar</h3>
              <p class="product-card__price">$450.00</p>
              <button class="btn btn--secondary product-card__btn">
                Add to cart
              </button>
            </article>
          </li>

          <!-- product card 2 -->
          <li class="new-arrivals__item">
            <article class="product-card">
              <img
                src="img/index/new-arrivals/dowson-little-roomer-snare-drum.jpeg"
                alt="Dowson Little Roomer Drum"
                class="product-card__image"
              />
              <h3 class="product-card__name">Dowson Little Roomer Snare Drum</h3>
              <p class="product-card__price">$178.00</p>
              <button class="btn btn--secondary product-card__btn">
                Add to cart
              </button>
            </article>
          </li>

          <!-- product card 3 -->
          <li class="new-arrivals__item">
            <article class="product-card">
              <img
                src="img/index/new-arrivals/dickson-studio-er100-electric-guitar.jpeg"
                alt="Dickson Studio ER100 El Guitar"
                class="product-card__image"
              />
              <h3 class="product-card__name">Dickson Studio ER100 Electric Guitar</h3>
              <p class="product-card__price">$180.00</p>
              <button class="btn btn--secondary product-card__btn">
                Add to cart
              </button>
            </article>
          </li>

          <!-- product card 4 -->
          <li class="new-arrivals__item">
            <article class="product-card">
              <img
                src="img/index/new-arrivals/gvc-cool-style-electric-guitar.jpeg"
                alt="GVC Cool Style El Guitar"
                class="product-card__image"
              />
              <h3 class="product-card__name">GVC Cool Style Electric Guitar</h3>
              <p class="product-card__price">$640.00</p>
              <button class="btn btn--secondary product-card__btn">
                Add to cart
              </button>
            </article>
          </li>

          <!-- product card 5 -->
          <li class="new-arrivals__item">
            <article class="product-card">
              <img
                src="img/index/new-arrivals/bover-rover-erstq-56-snare-drum.jpeg"
                alt="over Rover ERSTQ56 Snare Drum"
                class="product-card__image"
              />
              <h3 class="product-card__name">Bover Rover ERSTQ56 Snare Drum</h3>
              <p class="product-card__price">$128.00</p>
              <button class="btn btn--secondary product-card__btn">
                Add to cart
              </button>
            </article>
          </li>
        </ul>
      </div>

      <!-- Right arrow -->
      <button
        class="carousel-arrow carousel-arrow--next"
        aria-label="Next new-arrivals"
      >
        <svg
          class="carousel-arrow__svg"
          viewBox="0 0 30 30"
          width="30"
          height="30"
        >
          <defs>
            <path
              d="M19.533 15l-9.1-9.45c-.577-.6-.577-1.5 0-2.1.578-.6 1.445-.6 2.023 0l10.11 10.5c.29.3.434.75.434 1.05 0 .45-.144.75-.433 1.05l-10.111 10.5c-.29.3-.578.45-1.012.45-.433 0-.722-.15-1.01-.45-.578-.6-.578-1.5 0-2.1l9.1-9.45z"
              id="a-1762442037399"
            ></path>
          </defs>
          <use
            fill-rule="nonzero"
            opacity=".8"
            xlink:href="#a-1762442037399"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>